body {
    background-color: rgb(147, 163, 231);
}
.nav-wrapper {
    background-color: rgb(230, 99, 99);
}

.brand-logo {
    margin-left: 15px;
}

.nav-wrapper .btn {
    background-color: rgb(71, 117, 243);
}

h4 {
    text-decoration: underline;
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 50px;
}


main {
    border: 4px ridge red;
    margin: 10px;
    padding: 20px;
    background-color: rgb(168, 164, 164);
    
}

.row {
    background-color: rgb(231, 197, 197);
}

.footer {
    clear: both;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-align: center;
}

.footer h2 {
    font-size: 20px;
}


.pokemonCard {
    width: 246px;
    margin: 10px;
}

.pokeImage {
    height: 342px;
}

#container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.collected {
    border-radius: 10px;
    margin: 2%;
    width: 45%;
}

.wishlist {
    border-radius: 10px;
    margin: 2%;
    width: 45%;
}

.pokeImage img {
    height: 100%;
}